.pdf{
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
  background-color: #f9f9f9;

}
.pdf button{
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}
span button {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}
section{
  width: 100%;
  //overflow-x: hidden;
}
