<section id="expereinces" class="container py-5">
  <h2 class="text-center mb-4">{{experienceData.title}}</h2>
  <div *ngFor="let experience of experienceData.experiencesList" class="experience-card p-4 mb-4 rounded shadow-sm">
    <h4>{{ experience.title }}</h4>
    <h5 class="text-muted">{{ experience.societe }}</h5>
    <p><strong>{{ experience.dated }} - {{ experience.datef }}</strong></p>
    <ul>
      <li *ngFor="let task of experience.taches">{{ task }}</li>
    </ul>
  </div>
</section>
