<section id="projects" class="container py-5">
    <h2>{{projets.title}}</h2>
  <div class="container my-5">
    <div class="row g-4">
      <div class=" pro col-12 col-sm-6 col-lg-4" *ngFor="let projet of projets.projectsList">
        <div class="project-card">
          <h2 class="title">{{ projet.name }}</h2>
          <img class="image" [src]="projet.image" [alt]="projet.name" />
          <p class="description">{{ projet.description }}</p>
          <div class="buttons">
            <a class="" [href]="projet.link" target="_blank">Demo</a>
            <button class="btn btn-outline-primary"  data-bs-toggle="modal" [attr.data-bs-target]="'#projectModal' + projet.id">Voir le projet</button>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" [id]="'projectModal'+projet.id" tabindex="-1" [attr.aria-labelledby]="'projectModalLabel'+projet.id" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" [id]="'projectModalLabel'+projet.id">{{ projet?.name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
              </div>
              <div class="modal-body text-center">
                <img [src]="projet?.image" [alt]="projet?.name" class="img-fluid mb-3" />
                <p>{{ projet?.description }}</p>
              </div>
              <div class="modal-footer justify-content-center">
                <a class="btn btn-primary" [href]="projet?.link" target="_blank">{{projet.modalButtonText}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
