nav{
  background: #5b6c91;
  color: #fff;
  z-index: 1000;
  top: 0;
  position: sticky;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 2px solid #35008a;
  border-radius: 50px;
  // width: 100%;
  // //overflow-x: hidden;
}
#divfluid{
    border-radius: 50%;
    width: 100%;
}
h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  // border: 3px solid #35008a;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  // border-radius: 5rem;

}
h1:hover {
  // color: #35008a;
  cursor: pointer;
  // border: 3px solid #fff;
  transition: all 0.3s ease-in-out;
}
li {
  list-style: none;
  margin: 0 1rem;
  font-size: 1.3rem;
  font-weight: 500;

}
li a{
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
li a:hover {
  color: #35008a;
  text-decoration: underline;
}
.collapse {
  transition: height 0.35s ease;
}
