<footer class="social-footer">
      <p class="footer__text">
      © {{currentYear}} - Ibrahim GITE — Développeur Fullstack & Administrateur Réseau.
    </p>

  <a href="https://www.facebook.com/troutrou.4149?mibextid=wwXIfr&mibextid=wwXIfr
Connectez-vous ou inscrivez-vous pour voir le contenu
Accédez aux publications, aux photos et plus encore sur Facebook.
 " target="_blank" aria-label="Facebook">
    <i class="fab fa-facebook-f"></i>
  </a>
  <a href="https://www.linkedin.com/in/ibrahim-gite-87598a248?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app
 " target="_blank" aria-label="LinkedIn">
    <i class="fab fa-linkedin-in"></i>
  </a>
  <a href="https://github.com/IBRAHGITE" target="_blank" aria-label="GitHub">
    <i class="fab fa-github"></i>
  </a>
</footer>
